<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 	<h6></h6><br>
    <div class="container">
        <div class="page-header">
            <h1>
                About
            </h1>
        </div>
        
        <div style="margin-left: 0%">
				<img alt="A.R.Rahman" src="../arr.jpg" >
		</div>
			<p></p>
        <div>
                <p><strong><a href="http://en.wikipedia.org/wiki/A._R._Rahman">A.R. Rahman</a></strong> is an Indian composer, singer-songwriter, music producer, musician and philanthropist.
				<p>
				I am an ardent fan of A.R. Rahman. I was interested to see which of songs are most played and most liked based on YouTube.<br>
				Since music companies are now officially releasing songs on Youtube, it has become a popular destination for online listeners.<br/>
				While Youtube data may not reflect everything, it is still a good indicator to see people's preferences.</p>
				<p>So, I created this dashboard by reading statistics from Youtube API and tracking them realtime. <br/>I have picked up <a href="http://en.wikipedia.org/wiki/O_Kadhal_Kanmani">'OK Kanmani'</a> as a pilot. This was release in April 2015.
				I wish I had data from Day 1 of the music release though.<br/>
				Portal built with node.Js, Express, EJS and MongoDB with Bootstrap.
				</p>
		</div>
        
    </div>
 
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        
        <style>

p{ 
	line-height:32px; 
	font-size:16px; 
	margin-top:10px;
	text-align: left;
    display: inline-block;
    padding-left: 0px
}
</style>
</body>

</html>