<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 	<h6></h6><br>
    <div class="container">
        <div class="page-header">
            <h3>
                About this experiment
            </h3>
        </div>
        
        <div style="margin-left: 0%">
				<img alt="A.R.Rahman" src="../arr.jpg" >
		</div>
			<p></p>
        <div>
                <p><strong><a href="http://en.wikipedia.org/wiki/A._R._Rahman">A.R. Rahman</a></strong> is an Indian composer, singer-songwriter, music producer, musician and philanthropist.
				<p>
				I am an ardent fan of A.R. Rahman. I was interested to see which of songs are most played and most liked based on YouTube.<br>
				Since music companies are now officially releasing songs on Youtube, it has become a popular destination for online listeners.<br/>
				While Youtube data may not reflect everything, it is still a good indicator to see people's preferences.</p>
				<p>This dashboard is created with stats from Youtube API and deriving trends realtime. <br/>
				I have picked up <a href="http://en.wikipedia.org/wiki/O_Kadhal_Kanmani">'OK Kanmani'</a> as a pilot. This was released in April 2015.<br/>
				<p>
				Youtube analytics provides good amount of data to video uploaders. But some more questions to consider ... <br/>
				<ul>
				<li>At which hours are more views happening ? Should advertisers be charged more during this time ?</li>
				<li>Which song is likely to get purchased digitally ?</li>
				<li>But more importantly for me, which A.R. Rahman songs are liked the most ? </li>
				</ul> <br/>
				<p>
				The portal is built with <a href="https://nodejs.org/">node.Js</a>, <a href="http://expressjs.com/">Express</a>, <a href="http://www.embeddedjs.com/">EJS</a> and <a href="https://www.mongodb.org/">MongoDB</a> with <a href="http://getbootstrap.com/2.3.2/">Twitter Bootstrap</a>.
				</p><br/><br/>
		</div>
        
    </div>
 
    <!-- /container -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#about').addClass("active");
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        
        <style>

p, ul{ 
	line-height:32px; 
	font-size:16px; 
	margin-top:10px;
	text-align: left;
    display: inline-block;
    padding-left: 0px
}
</style>
</body>

<div class="container"><% include footer %></div>

</html>